.ProjectCard {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 60px;
  background-color: #fff;
  border-radius: 0.3em;
  box-shadow: 2px 2px 20px #2e3440;
  overflow: hidden;
  position: relative;

  .ProjectImage {
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;

    // padding: 10px;
    // border-radius: 20px;
  }

  .ProjectContent {
    padding: 60px;
    width: 50%;
    z-index: 1;
    background-color: #f7f6f5;
    color: #000000;

    .ProjectTitle {
      font-weight: 500;
      font-size: 1.8em;
      line-height: 38px;
      margin-top: 0;
      margin-bottom: 35px;
    }
    .ProjectDescription {
      margin-bottom: 30px;
      line-height: 27px;
    }
    .ProjectSkills {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    .ProjectLinks {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;

      a {
        margin-right: 20px;
        margin-top: 20px;
        white-space: nowrap;
        display: inline-block;
        line-height: 40px;
        padding: 0 14px;
        box-shadow: 0 4px 6px #2e3440;
        border-radius: 4px;
        letter-spacing: 0.025em;
        text-decoration: none;
        transition: all 0.15s ease;
        font-size: 0.9em;
        font-weight: 600;
        box-sizing: border-box;
        background: #bacf2c;
        color: #f7f6f5;

        &.GitHubLink {
          background: #516379;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  .ProjectCard {
    margin-bottom: 40px;
  }
  .ProjectImage {
    display: none;
  }
  .ProjectContent {
    width: 100% !important;
    padding: 35px;
  }
}
